

#calculator{
    width: 290px;
    height: 420px;
    margin: 200px auto;
    padding: 5px 5px 5px 5px;

    background: linear-gradient(rgba(1, 29, 26, 0.10), #040c2c);
    border-radius: 21px;
    box-shadow: 4px 7px #040c2c;
}



.keys span{
    float: left;

    width: 60px;
    height: 60px;

    background: black;
    color: greenyellow;
    font-family: bold;
    text-align: center;
    border-radius: 33px;
    font-size: large;
    box-shadow: 1px 7px #040c2c;

    margin: 5px 5px 5px 5px;
padding: 15px 15px 15px 15px;
}
span:hover{
    background-color: mediumpurple;
}
span:active{
    background-color: white;
    box-shadow: 0px 0px white;
    top: 4px;
}


#clear {
    background: red;
    color: black;


}
#clear:hover{
    background-color: palevioletred;
    color: red;

}
#clear:active{
    box-shadow: 0px 0px blue;
    background-color: darkred;
}

#equal {
    background: blue;
    color: white;
    width: 270px;
}
#equal:hover {
    background-color: green;
}
#equal:active{
    background-color: darkgreen;
    box-shadow: 0px 0px;
}

.top {
    padding-bottom: 30px;
    text-align: center;
    font-size: large;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.display{
    height: 11px;
    width: 280px;
    background: white;
    padding-bottom: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: large;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
